@using Elegance.Icons

<button type="button"
        title="@(userShipment.Subscribed ? "Unsubscribe from shipment" : "Subscribe to shipment")"
        @onclick="@(ToggleSubscriptionAsync)">
	@if (userShipment.Subscribed)
	{
		@(Icons.UserCheck)
	}
	else
	{
		@(Icons.UserPlus)
	}
</button>

@if (nextUpdate != default)
{
	<div>
		<p>Next update: @(nextUpdate.ToString("g"))</p>
	</div>
}

