@page "/"
@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Nebula</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">@(Localizer["title"])</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(FindShipment)" FormName="@(Home.formName)">
	<div class="fixed-grid has-1-cols has-5-cols-tablet">
		<div class="grid is-gap-1">
			<div class="cell is-col-span-2-tablet field">
				<label for="code" class="label">
					@(Localizer["fields.code.label"])
				</label>
				<div class="control has-icons-left">
					<InputText @bind-Value="@(Model.Code)" id="code" class="input" required autofocus />
					<span class="icon is-small is-left">
						@(Icons.Barcode)
					</span>
				</div>
				<p class="help">
					@(Localizer["fields.code.help"])
				</p>
			</div>

			<div class="cell is-col-span-2-tablet field">
				<label for="zip" class="label">
					@(Localizer["fields.zip.label"])
				</label>
				<div class="control has-icons-left">
					<InputText @bind-Value="@(Model.ZipCode)" id="zip" class="input" maxlength="7" required />
					<span class="icon is-small is-left">
						@(Icons.Home)
					</span>
				</div>
				<p class="help">
					@(Localizer["fields.zip.help"])
				</p>
			</div>

			<div class="cell field">
				<button type="submit" class="button is-primary search-btn">
					<span class="icon is-small">
						@(Icons.Search)
					</span>
					<span>@(Localizer["submit"])</span>
				</button>
			</div>
		</div>
	</div>
</EditForm>
