@page "/"
@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Home</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">Find your shipment</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(FindShipment)" FormName="@(Home.formName)">
	<div class="field is-horizontal">
		<div class="field-body is-align-items-center">
			<div class="field">
				<label for="code" class="label">
					Code
				</label>
				<div class="control has-icons-left">
					<InputText @bind-Value="@(Model.Code)" id="code" class="input" required autofocus />
					<span class="icon is-small is-left">
						@(Icons.Barcode)
					</span>
				</div>
				<p class="help">
					This is, for example, a barcode or a tracking code.
				</p>
			</div>

			<div class="field">
				<label for="zip" class="label">Zip-code</label>
				<div class="control has-icons-left">
					<InputText @bind-Value="@(Model.ZipCode)" id="zip" class="input" maxlength="7" required />
					<span class="icon is-small is-left">
						@(Icons.Home)
					</span>
				</div>
				<p class="help">
					Most delivery services require a zip-code to display all information.
				</p>
			</div>

			<div class="field">
				@* Offset is needed to align with inputs, as this field doesn't have a label or help text. *@
				<button type="submit" class="button is-primary" style="margin-block-start: 0.625em;">
					<span class="icon is-small">
						@(Icons.Search)
					</span>
					<span>Search</span>
				</button>
			</div>
		</div>
	</div>
</EditForm>
