@using System.Globalization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Http
@using Nebula.Web.Components
@using Nebula.Web.Layout

<!DOCTYPE html>
<html lang="@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName)">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="@(Assets["css/bulma.min.css"])" />
	<link rel="stylesheet" href="@(Assets["css/app.css"])" />
	<link rel="stylesheet" href="@(Assets["Nebula.styles.css"])" />
	<ImportMap />
	<HeadOutlet />
	<link rel="icon" type="image/png" href="@(Assets["favicon-96x96.png"])" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="@(Assets["favicon.svg"])" />
	<link rel="shortcut icon" href="@(Assets["favicon.ico"])" />
	<link rel="apple-touch-icon" sizes="180x180" href="@(Assets["apple-touch-icon.png"])" />
	<meta name="apple-mobile-web-app-title" content="Nebula" />
	<link rel="manifest" href="@(Assets["site.webmanifest"])" />
</head>

<body>

<Router AppAssembly="@(typeof(Program).Assembly)">
	<Found Context="routeData">
		<RouteView RouteData="@(routeData)" DefaultLayout="@(typeof(MainLayout))" />
	</Found>

	<NotFound>
		<h1>404 – not found</h1>
		<a href="/">Back to home</a>
	</NotFound>
</Router>

<ReconnectModal />
<script src="@(Assets["_framework/blazor.web.js"])"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>

@code {

	[CascadingParameter] public HttpContext? HttpContext { get; init; }

	protected override void OnInitialized() =>
		Cultures.AppendCultureCookie(HttpContext, CultureInfo.CurrentCulture);

}
