@page "/login"
@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>@(Localizer["title"])</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">@(Localizer["title"])</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(LoginAsync)" FormName="@(Login.formName)">
	<DataAnnotationsValidator />

	<div class="field">
		<label for="email" class="label">
			@(Localizer["fields.email"])
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Email)"
			           id="email"
			           class="input"
			           autocomplete="username"
					   aria-required="true"
					   aria-describedby="email-error"
			           required
			           autofocus />
			<span class="icon is-small is-left">
				@(Icons.Email)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Email)" id="email-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password" class="label">
			@(Localizer["fields.password"])
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Password)"
			           id="password"
			           class="input"
			           type="password"
			           autocomplete="current-password"
					   aria-required="true"
					   aria-describedby="password-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Password)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Password)" id="password-error" class="help is-danger" />
	</div>

	<div class="field">
		<div class="control">
			<label class="checkbox">
				<InputCheckbox @bind-Value="@(Model.Persistent)" />
				@(Localizer["fields.persistent"])
			</label>
		</div>
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button type="submit" class="button is-primary">
				@(Localizer["title"])
			</button>
		</div>

		<div class="control">
			<a href="/register">
				@(Localizer["sign-up"])
			</a>
		</div>
	</div>
</EditForm>
