@page "/register"
@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>@(Localizer["title"])</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">@(Localizer["title"])</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(RegisterAsync)" FormName="@(Register.formName)">
	<DataAnnotationsValidator />

	@if (Model.Error)
	{
		<div role="alert" class="notification is-danger">
			@(Localizer["error"])
		</div>
	}

	<div class="field">
		<label for="email" class="label">
			@(Localizer["fields.email"])
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Email)"
			           id="email"
			           class="input"
			           type="email"
			           autocomplete="email"
			           aria-required="true"
			           aria-describedby="email-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Email)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Email)" id="email-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password" class="label">
			@(Localizer["fields.password"])
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Password)"
			           id="password"
			           class="input"
			           type="password"
			           autocomplete="new-password"
			           aria-required="true"
			           aria-describedby="password-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Password)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Password)" id="password-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password-confirmation" class="label">
			@(Localizer["fields.password-confirmation"])
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.PasswordConfirmation)"
			           id="password-confirmation"
			           class="input"
			           type="password"
			           autocomplete="new-password"
			           aria-required="true"
			           aria-describedby="password-confirmation-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Password)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.PasswordConfirmation)"
		                   id="password-confirmation-error"
		                   class="help is-danger" />
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button type="submit" class="button is-primary">
				@(Localizer["title"])
			</button>
		</div>

		<div class="control">
			<a href="/login">
				@(Localizer["sign-in"])
			</a>
		</div>
	</div>
</EditForm>
