@using Elegance.Icons
@using Nebula.Extensions
@using Microsoft.AspNetCore.Components.Authorization
@using Nebula.Models.Database

<AuthorizeView>
	<Authorized Context="auth">
		<button type="button"
		        class="button"
		        title="@(Localizer[$"subscribe.title.{userShipment.Subscribed.Str()}"])"
		        @onclick="@(ToggleSubscriptionAsync)">
			<span class="icon is-small">
				@(userShipment.Subscribed ? Icons.UserCheck : Icons.UserPlus)
			</span>
		</button>

		@if (auth.User.HasUserFlag(UserFlags.Superuser))
		{
			<button type="button"
			        class="button @(workflowRunning ? "is-loading" : string.Empty)"
			        title="@(workflowRunning ? "Workflow is running" : "Start workflow")"
			        @onclick="@(StartWorkflowAsync)"
			        disabled="@(workflowRunning)">
				<span class="icon is-small">
					@(Icons.Automation)
				</span>
			</button>
		}
	</Authorized>
</AuthorizeView>
