@using ShipmentTracker.Web.Components

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link rel="stylesheet" href="@(Assets["css/app.css"])"/>
	<link rel="stylesheet" href="@(Assets["ShipmentTracker.styles.css"])"/>
	<ImportMap/>
	<HeadOutlet/>
	<link href="@(Assets["app.webmanifest"])" rel="manifest"/>
	<link rel="apple-touch-icon" sizes="512x512" href="@(Assets["icon-512.png"])"/>
	<link rel="apple-touch-icon" sizes="192x192" href="@(Assets["icon-192.png"])"/>
</head>

<body>
<Routes/>
<ReconnectModal/>
<script src="@(Assets["_framework/blazor.web.js"])"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
<script src="@(Assets["js/push.js"])"></script>
</body>

</html>
