@using ShipmentTracker.Web.Components
@using Microsoft.AspNetCore.Components.Routing
@using ShipmentTracker.Web.Layout

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link rel="stylesheet" href="@(Assets["css/app.css"])"/>
	<link rel="stylesheet" href="@(Assets["ShipmentTracker.styles.css"])"/>
	<ImportMap/>
	<HeadOutlet/>
	<link href="@(Assets["app.webmanifest"])" rel="manifest"/>
	<link rel="apple-touch-icon" sizes="512x512" href="@(Assets["icon-512.png"])"/>
	<link rel="apple-touch-icon" sizes="192x192" href="@(Assets["icon-192.png"])"/>
</head>

<body>

<Router AppAssembly="@(typeof(Program).Assembly)">
	<Found Context="routeData">
		<RouteView RouteData="@(routeData)" DefaultLayout="@(typeof(MainLayout))"/>
	</Found>

	<NotFound>
		<h1>404 – not found</h1>
		<a href="/">Back to home</a>
	</NotFound>
</Router>

<ReconnectModal/>
<script src="@(Assets["_framework/blazor.web.js"])"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>
