@using Elegance.Extensions
@using Elegance.Icons
@typeparam TGridItem

@if ((items is null) || (items.Count == 0))
{
	@if (EmptyTemplate is not null)
	{
		@(EmptyTemplate)
	}
	else
	{
		<p>No items found.</p>
	}
}
else
{
	<div class="fixed-grid has-1-cols has-2-cols-tablet has-3-cols-desktop">
		<div class="grid is-gap-4">
			@foreach (var item in items)
			{
				<div @key="@(item.Id.Str())" class="cell">
					@(ItemTemplate(item))
				</div>
			}
		</div>
	</div>

	<div>
		<p>@(count.Str()) total items</p>

		@if (LastPage != 1)
		{
			<nav class="pagination" aria-label="Pagination">
				<ul class="pagination-list">
					<li>
						<a href="@(GetPageLink(1))" class="pagination-link">@(Icons.ChevronsLeft)</a>
					</li>
					<li>
						<a href="@(GetPageLink(Page - 1))" class="pagination-link">@(Icons.ChevronLeft)</a>
					</li>
					<li>
						<a href="@(GetPageLink(Page + 1))" class="pagination-link">@(Icons.ChevronRight)</a>
					</li>
					<li>
						<a href="@(GetPageLink(LastPage))" class="pagination-link">@(Icons.ChevronsRight)</a>
					</li>
				</ul>
			</nav>
		}
	</div>
}
