@page "/account"
@using Microsoft.AspNetCore.Components.Forms
@using Nebula.Web.Components

<PageTitle>@(Localizer["title"])</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">@(Localizer["title"])</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(UpdateAsync)" FormName="@View.formName">
	<DataAnnotationsValidator />

	<div class="field">
		<label for="email" class="label">
			@(Localizer["fields.email"])
		</label>
		<div class="control">
			<InputText @bind-Value="@(Model.Email)"
			           id="email"
			           type="email"
			           class="input"
			           autocomplete="email"
			           aria-required="true"
			           aria-describedby="email-error"
			           required />
		</div>
		<ValidationMessage For="@(() => Model.Email)" id="email-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password" class="label">
			@(Localizer["fields.password"])
		</label>
		<div class="control">
			<InputText @bind-Value="@(Model.Password)"
			           type="password"
			           id="password"
			           class="input"
			           autocomplete="new-password"
			           aria-describedby="password-error" />
		</div>
		<ValidationMessage For="@(() => Model.Password)" id="password-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password-confirmation" class="label">
			@(Localizer["fields.password-confirmation"])
		</label>
		<div class="control">
			<InputText @bind-Value="@(Model.PasswordConfirmation)"
			           type="password"
			           id="password-confirmation"
			           class="input"
			           autocomplete="new-password"
			           aria-describedby="password-confirmation-error" />
		</div>
		<ValidationMessage For="@(() => Model.PasswordConfirmation)"
		                   id="password-confirmation-error"
		                   class="help is-danger" />
	</div>

	<div class="field">
		<label for="culture" class="label">
			@(Localizer["fields.culture"])
		</label>
		<div class="control">
			<InputCulture @bind-Value="@(Model.Culture)"
			              id="culture"
			              class="input"
			              aria-describedby="culture-error" />
			<ValidationMessage For="@(() => Model.Culture)"
			                   id="culture-error"
			                   class="help is-danger" />
		</div>
	</div>

	<button type="submit" class="button is-primary">
		@(Localizer["submit"])
	</button>
</EditForm>

