@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Nebula.Web.Components
@using Microsoft.AspNetCore.Components.Forms
@inherits LayoutComponentBase

@{ System.Diagnostics.Debug.Assert(Body is not null); }

<header class="has-background-dark">
	<nav class="container navbar">
		<div class="navbar-brand mr-2">
			<a class="navbar-item" href="/">
				<span class="icon is-large" aria-label="@(Localizer["logo.aria"])">
					@(Logo.Component)
				</span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<NavLink href="/" Match="@(NavLinkMatch.All)" class="button is-dark" ActiveClass="is-active">
						<span class="icon is-small">
							@(Icons.Search)
						</span>
						<span>@(Localizer["items.search"])</span>
					</NavLink>
				</div>
			</div>

			<div class="navbar-end">
				<AuthorizeView>
					<Authorized>
						<div class="navbar-item">
							<NavLink href="/shipments" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.Packages)
								</span>
								<span>@(Localizer["items.shipments"])</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							<NavLink href="/account" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.User)
								</span>
								<span>@(Localizer["items.account"])</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							@(SignOutButton(Localizer["items.sign-out"]))
						</div>
					</Authorized>

					<NotAuthorized>
						<div class="navbar-item">
							<NavLink href="/login" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.Login)
								</span>
								<span>@(Localizer["items.sign-in"])</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							<NavLink href="/register" class="button is-primary" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.UserPlus)
								</span>
								<span>@(Localizer["items.sign-up"])</span>
							</NavLink>
						</div>
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</div>
	</nav>
</header>

<nav class="tab-bar has-background-dark is-display-none-desktop">
	<ul>
		<li>
			<NavLink href="/" Match="@(NavLinkMatch.All)" class="button is-dark" ActiveClass="is-active">
				<span class="icon">
					@(Icons.Search)
				</span>
			</NavLink>
		</li>

		<AuthorizeView>
			<Authorized>
				<li>
					<NavLink href="/shipments" class="button is-dark" ActiveClass="is-active">
						<span class="icon">
							@(Icons.Packages)
						</span>
					</NavLink>
				</li>

				<li>
					<NavLink href="/account" class="button is-dark" ActiveClass="is-active">
						<span class="icon">
							@(Icons.User)
						</span>
					</NavLink>
				</li>

				<li>
					@(SignOutButton(null))
				</li>
			</Authorized>

			<NotAuthorized>
				<li>
					<NavLink href="/login" class="button is-dark" ActiveClass="is-active">
						<span class="icon">
							@(Icons.Login)
						</span>
					</NavLink>
				</li>

				<li>
					<NavLink href="/register" class="button is-dark" ActiveClass="is-active">
						<span class="icon">
							@(Icons.UserPlus)
						</span>
					</NavLink>
				</li>
			</NotAuthorized>
		</AuthorizeView>
	</ul>
</nav>

<main class="container is-widescreen is-max-widescreen">
	@(Body)
</main>

<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<span class="icon is-small">@(Logo.Component)</span> Nebula &copy; by Byrone
		</p>
	</div>
</footer>

<EditForm EditContext="@(context)"
          OnValidSubmit="@(SignOutAsync)"
          FormName="@(MainLayout.signOutFormName)"
          id="@(MainLayout.signOutFormName)">
</EditForm>

@code {

	private RenderFragment SignOutButton(string? label) =>
		@<button type="submit" form="@(MainLayout.signOutFormName)" class="button is-dark">
			<span class="icon @(label is not null ? "is-small" : string.Empty)">
				@(Icons.Logout)
			</span>
			@if (label is not null)
			{
				<span>@(label)</span>
			}
		</button>;

}
