@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Nebula.Web.Components
@inherits LayoutComponentBase

@{ System.Diagnostics.Debug.Assert(Body is not null); }

<header class="has-background-dark">
	<nav class="container navbar">
		<div class="navbar-brand mr-2">
			<a class="navbar-item" href="/">
				<span class="icon is-large" aria-label="Nebula logo">
					@(Logo.Component)
				</span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<NavLink href="/" Match="@(NavLinkMatch.All)" class="button is-dark" ActiveClass="is-active">
						<span class="icon is-small">
							@(Icons.Search)
						</span>
						<span>Find</span>
					</NavLink>
				</div>
			</div>

			<div class="navbar-end">
				<AuthorizeView>
					<Authorized>
						<div class="navbar-item">
							<NavLink href="/shipments" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.Packages)
								</span>
								<span>Shipments</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							<NavLink href="/account" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.User)
								</span>
								<span>Account</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							<LogoutForm />
						</div>
					</Authorized>

					<NotAuthorized>
						<div class="navbar-item">
							<NavLink href="/login" class="button is-dark" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.Login)
								</span>
								<span>Login</span>
							</NavLink>
						</div>

						<div class="navbar-item">
							<NavLink href="/register" class="button is-primary" ActiveClass="is-active">
								<span class="icon is-small">
									@(Icons.UserPlus)
								</span>
								<span>Register</span>
							</NavLink>
						</div>
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</div>
	</nav>
</header>

<main class="container is-widescreen is-max-widescreen">
	@(Body)
</main>
