@using Microsoft.AspNetCore.Components.Forms

<InputSelect Value="@(Value)"
             ValueChanged="@(ValueChanged)"
             ValueExpression="@(ValueExpression)"
             @attributes="@(AdditionalAttributes)">
	@foreach (var culture in Cultures.Supported)
	{
		var key = culture.Name;
		var selected = string.Equals(Value, key, System.StringComparison.Ordinal);

		<option @key="@(key)" value="@(key)" selected="@(selected)">
			@(culture.NativeName)
		</option>
	}
</InputSelect>
