@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<EditForm EditContext="@(context)" OnValidSubmit="@(LogoutAsync)" FormName="@(LogoutForm.formName)">
	<button type="submit" class="button is-dark">
		<span class="icon is-small">@(Icons.Logout)</span>
		<span>@(Label)</span>
	</button>
</EditForm>
