<script type="module" src="@(Assets["Web/Components/ReconnectModal.razor.js"])"></script>

<dialog id="components-reconnect-modal" class="modal is-rounded" data-nosnippet>
	<div class="components-rejoining-animation" aria-hidden="true">
		<div></div>
		<div></div>
	</div>
	<p class="components-reconnect-first-attempt-visible">
		@(Localizer["rejoining"])
	</p>
	<p class="components-reconnect-repeated-attempt-visible">
		@(Localizer["timer"])
		<span id="components-seconds-to-next-attempt"></span>
	</p>
	<p class="components-reconnect-failed-visible">
		@(Localizer["failed"])
	</p>
	<button id="components-reconnect-button" class="components-reconnect-failed-visible button is-dark mt-4 mx-auto">
		@(Localizer["button"])
	</button>
</dialog>
