@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="@(Model)" OnValidSubmit="@(UpdateAsync)" FormName="@(EditInformation.formName)">
	<DataAnnotationsValidator/>

	<div>
		<label for="username">
			Username
		</label>
		<InputText @bind-Value="@(Model.Username)"
		           id="username"
		           autocomplete="username"
		           aria-required="true"
		           aria-describedby="username-error"
		           required
		           autofocus/>
		<ValidationMessage For="@(() => Model.Username)" id="username-error" class="text-danger"/>
	</div>

	<div>
		<label for="email">
			E-mail
		</label>
		<InputText @bind-Value="@(Model.Email)"
		           id="email"
		           type="email"
		           autocomplete="email"
		           aria-required="true"
		           aria-describedby="email-error"
		           required/>
		<ValidationMessage For="@(() => Model.Email)" id="email-error" class="text-danger"/>
	</div>

	<div>
		<label for="password">
			Password
		</label>
		<InputText @bind-Value="@(Model.Password)"
		           type="password"
		           id="password"
		           autocomplete="new-password"
		           aria-describedby="password-error"/>
		<ValidationMessage For="@(() => Model.Password)" id="password-error" class="text-danger"/>
	</div>

	<div>
		<label for="password-confirmation">
			Password confirmation
		</label>
		<InputText @bind-Value="@(Model.PasswordConfirmation)"
		           type="password"
		           id="password-confirmation"
		           autocomplete="new-password"
		           aria-describedby="password-confirmation-error"/>
		<ValidationMessage For="@(() => Model.PasswordConfirmation)"
		                   id="password-confirmation-error"
		                   class="text-danger"/>
	</div>

	<button type="submit">
		Update
	</button>
</EditForm>
