@page "/register"
@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Register</PageTitle>

<section class="hero">
	<div class="hero-body">
		<h1 class="title">Register</h1>
	</div>
</section>

<EditForm Model="@(Model)" OnValidSubmit="@(RegisterAsync)" FormName="@(Register.formName)">
	<DataAnnotationsValidator />

	@if (Model.Error)
	{
		<div role="alert" class="notification is-danger">
			Something went wrong.
		</div>
	}

	<div class="field">
		<label for="username" class="label">
			Username
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Username)"
			           id="username"
			           class="input"
			           autocomplete="username"
			           aria-required="true"
			           aria-describedby="username-error"
			           required
			           autofocus />
			<span class="icon is-small is-left">
				@(Icons.User)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Username)" id="username-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="email" class="label">
			E-mail
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Email)"
			           id="email"
			           class="input"
			           type="email"
			           autocomplete="email"
			           aria-required="true"
			           aria-describedby="email-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Email)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Email)" id="email-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password" class="label">
			Password
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.Password)"
			           id="password"
			           class="input"
			           type="password"
			           autocomplete="new-password"
			           aria-required="true"
			           aria-describedby="password-error"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Password)
			</span>
		</div>
		<ValidationMessage For="@(() => Model.Password)" id="password-error" class="help is-danger" />
	</div>

	<div class="field">
		<label for="password-confirmation" class="label">
			Password confirmation
		</label>
		<div class="control has-icons-left">
			<InputText @bind-Value="@(Model.PasswordConfirmation)"
			           id="password-confirmation"
			           class="input"
			           type="password"
			           autocomplete="new-password"
			           aria-required="true"
			           required />
			<span class="icon is-small is-left">
				@(Icons.Password)
			</span>
		</div>
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button type="submit" class="button is-primary">
				Register
			</button>
		</div>

		<div class="control">
			<a href="/login">
				Already have an account?
			</a>
		</div>
	</div>
</EditForm>
